__pycache__
VOCdevkit
checkpoints
.vscode
*.pyc
.idea/
results
checkpoints_bak
cityscapes
test_results/
validation_samples/
sample_visualization/
dataset_samples/
val_transformed_samples/
train_transformed_samples/
test_visualizations/
results_deeplabv3/
FLOPs.txt
datasets/
wandb/
class_weights/
test_results_folder/
