__pycache__
VOCdevkit
.vscode
*.pyc
.idea/
results
checkpoints_bak
cityscapes
test_results/
validation_samples/
sample_visualization/
dataset_samples/
val_transformed_samples/
train_transformed_samples/
test_visualizations/
results_deeplabv3/
datasets/
wandb/
test_results_folder/
overlay_output/
class_weights/class_weight_new.pth
results_deeplabv3_optimized_ce/
results_final_train1/
checkpoints/